/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.c_padding{
    padding-top: 80px;
    padding-bottom: 100px;
}
    /* header  */
header{
    padding: 10px 0;
}
.menu ul li a{
    padding: 10px 0 0 !important;
    text-align: right;
    font-size: 20px;
} 
/* header end  */
/* slider str */
.slider{
    padding-bottom: 60px;
}
.s_text{
    margin-top: 20px;
}
.s_text h1{
    font-size: 28px;

}
.s_text h2{
    margin: 10px 0 ;
    font-size: 16px;
}
.s_text p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}
.c_ind {
    bottom: -60px;
}
.c_ind [data-bs-target]{
    width: 13px;
    height: 13px;
}
.s_icon ul li i{
    font-size: 35px;
}
.s_icon ul li{
    margin-right: 20px !important;
}
/* slider end */
/* feature str */
..c_h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.c_p{
    font-size:17px ;
    color:#313841;
    line-height: 25px;
}
.f_item{
    margin-top: 30px;
}
.f_icon i{
    font-size: 35px;
}
.f_text{
    text-align: center;
}
.f_text h2{
    margin-bottom: 0px;
    font-size: 20px;
}
.f_text p{
    letter-spacing: 0px;
}
/* feature end */
/* contact str */
.c_from {
    margin-top: 35px;
    margin-bottom: 35px;
}
.c_input{
    height: 45px;
    padding: 10px 10px;
}
.c_submit{
    height: 45px;
}
.c_icon li{
    margin-right: 20px !important;
}

.c_icon li i{
    font-size: 40px;
}
/* contact end */

/* footer last part  */
.f_1 {
    text-align: center;
    padding-bottom: 40px;
  }
.f_2 {
    text-align: center;
  }


}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.c_padding{
    padding-top: 80px;
    padding-bottom: 100px;
    }
/* header  */
.menu ul li a{
    padding: 10px 0 0 !important;
    text-align: right;
    font-size: 20px;
} 
/* header end  */
/* slider str */
.slider{
    padding-bottom: 60px;
}
.s_text{
    margin-top: 20px;
}
.s_text h1{
    font-size: 28px;

}
.s_text h2{
    margin: 10px 0 ;
    font-size: 16px;
}
.s_text p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}
.c_ind {
    bottom: -60px;
}
.c_ind [data-bs-target]{
    width: 13px;
    height: 13px;
}
.s_icon ul li i{
    font-size: 35px;
}
.s_icon ul li{
    margin-right: 20px !important;
}
/* slider end */
/* feature str */
.f_item{
    margin-top: 30px;
}
.f_icon i{
    font-size: 35px;
}
.f_text{
    text-align: center;
}
.f_text h2{
    margin-bottom: 5px;
    font-size: 20px;
}
.f_text p{
    text-align: center;
}
/* feature end */
/* contact str */
.c_from {
    margin-top: 35px;
    margin-bottom: 35px;
}
.c_input{
    height: 45px;
    padding: 10px 10px;
}
.c_submit{
    height: 45px;
}
.c_icon li{
    margin-right: 25px !important;
}

.c_icon li i{
    font-size: 40px;
}
/* contact end */




}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.c_padding{
    padding-top: 80px;
    padding-bottom: 100px;
    }
    /* header  */
.menu ul li a{
    padding: 10px 0 0 !important;
    text-align: right;
} 
/* header end  */
/* banner img str */
.s_img img{
    width: 100%; 
 }
/* banner img end */

/* feature str */

.f_item{
    margin-top: 50px;
}
/* feature end */
}
/* contact str */

.c_form{
    margin-top: 65px;
    margin-bottom: 35px;
}
/* contact end */

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/* header  */
    .manu ul li a {
         padding: 0 20px !important;  
    }
/* header end  */

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {

}